.search{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c22957;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #fff;
    text-align: center;
}

.search :is(input, button){
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}

.searchinput{
    width: 0;
    transition: width 0.5s;
}

.searchbutton {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color 0.25s;
    text-align: center;
}

.searchbutton:hover {
    color: #e3e3e3;
}

.search:focus-within input{
    width: 200px;
}

::placeholder{
    font: inherit;
    color: #e3e3e3;
}