
img{
    height: auto;
    width: 100%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    grid-gap: 10px;
}

.card1, .card2, .card3, .card4, .card5, .card6{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

    background-color: #1c1d1e;
    color: #f1f5f3;
}

button{
    padding: 10px;
    width: 100%;

    background-color: white;
    font-size: 1.3rem;

    font-weight: bold;

}